{
    "ImageId": "ami-0bb4c991fa89d4b9b",
    "InstanceType": "t2.micro",
    "KeyName": "aws101",
    "TagSpecifications":[{"ResourceType":"instance","Tags":[{"Key":"purpose","Value":"asg-server"}]}],
    "UserData": "IyEgL2Jpbi9iYXNoCnl1bSB1cGRhdGUgLXkKeXVtIGluc3RhbGwgLXkgaHR0cGQKY3VybCAxNjkuMjU0LjE2OS4yNTQvbGF0ZXN0L21ldGEtZGF0YS9ob3N0bmFtZSA+IGluZGV4Lmh0bWwKbXYgaW5kZXguaHRtbCAvdmFyL3d3dy9odG1sLwpzeXN0ZW1jdGwgc3RhcnQgaHR0cGQK",
    "NetworkInterfaces":[{"DeviceIndex":0,"AssociatePublicIpAddress":true,"Groups":["sg-0e699a0e9179886b8"],"DeleteOnTermination":true}]
}
